<nav class="nav">
  <div class="nav-logo" routerLink="/">
    <img class="nav-logo-icon" src="assets/icons/icon-512x512.png" height="35" width="40" />
    <span class="nav-logo-text">VideoGamesApp</span>
  </div>
  <div class="nav-search">
    <mat-icon
    aria-hidden="false"
    aria-label="header search icon"
    class="nav-search-icon"
    >
    search
  </mat-icon>
    <input
    type="text"
    class="nav-search-input"
    placeholder="Search 500.000+ games"
    (keypress)="search($event)"
    />
  </div>
</nav>
