<div class="home">
  <div class="home-filter">
    <ng-container *ngFor="let item of sortList">
      <a href="#{{item}}" [ngClass]="item === sort ? 'filter-item active' : 'filter-item'" (click)="filterGames(item)">
        {{item}}
      </a>
    </ng-container>
  </div>
  <div class="games">
    <div class="game" *ngFor="let game of games" (click)="openGameDetails(game.id)">
      <div class="game-thumb-container">
        <img *ngIf="game.background_image" src="{{game.background_image}}" alt="thumbnail" class="game-thumbnail" />
        <p * ngIf="!game.background_image">
          No image
        </p>
      </div>
      <div class="game-desc">
        <p class="game-name">{{game.name}}</p>
        <div class="game-platforms">
          <img *ngFor="let gamePlatform of game.parent_platforms" class="game-platform"
            src="assets/images/platforms/{{gamePlatform.platform.slug}}.svg" alt="{{gamePlatform.platform.slug}}" />
        </div>
      </div>
    </div>
  </div>
</div>
